# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin
obj
Debug
Debug.dll
Release
Release.dll
Source/\.vs/
*.sdf
*.opensdf
*.suo
*.ipch
*.opendb
*.vc.db
*.vcxproj.user
*.csproj.user
